[submodule "frontend"]
    path = frontend
    url = https://github.com/Julek-Git/personal-site-frontend.git
[submodule "backend"]
    path = backend
    url = https://github.com/Julek-Git/personal-site-backend.git
